#delete-confirm-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9998;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);
}

#delete-confirm-modal #modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  max-width: 90vw;
  max-height: 95vh;

  background-color: white;
  border-radius: 8px;

  overflow-y: auto;
}

#delete-confirm-modal #modal-container p {
  margin-bottom: 8px;
}
#delete-confirm-modal button {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 8px;
  width: 96px;
  margin-left: 4px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all ease;
}
#delete-confirm-modal button:hover {
  background-color: rgb(107, 190, 114);
}
