#row-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  align-items: center;
}

#row-item span {
  padding: 8px;
  border-radius: 8px;
}
#row-item span.typename-habit {
  background-color: rgb(175, 220, 179);
}
#row-item span.typename-challenge {
  background-color: rgb(255, 203, 175);
}
#row-item span.typename-learn {
  background-color: rgb(234, 204, 253);
}

#row-item .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-left: 4px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 8px;
  /* width: 32px; */
  cursor: pointer;
  transition: 0.3s all ease;
}
#row-item .btn:hover {
  background-color: rgb(107, 190, 114);
}

#row-item #title {
  margin-left: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s all ease;
}
#row-item #title:hover {
  color: rgb(107, 190, 114);
}
